/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

 .wp-block-create-block-buddypress-members-block {
    background-color: #fff;
}

.bp-members-preview {
    display: flex;
    flex-direction: column;
}

.bp-members-preview.list {
    flex-direction: column;

    .bp-member-item {
		display: flex;
		flex-wrap: wrap;
		gap: 15px;
        padding: 10px;
        border: 1px solid #ddd;
        margin-bottom: var(--row-spacing, 10px);
        text-align: center;

		>a {
			display: flex;
		}

        img.bp-member-avatar {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-bottom: 0;
        }

        .bp-member-name {
            font-weight: bold;
        }
    }
}

.bp-members-preview.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: var(--column-spacing, 10px);
}

.bp-members-preview.carousel {
    display: flex;
    overflow-x: auto;
    gap: var(--carousel-spacing, 10px);

    .bp-member-item {
        display: inline-block;
        margin-right: var(--carousel-spacing, 10px);
    }
}

.bp-member-item {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;

    img.bp-member-avatar {
        width: var(--avatar-size, 50px);
        height: var(--avatar-size, 50px);
        border-radius: 50%;
        margin-bottom: 10px;
    }

    .bp-member-name {
        font-weight: bold;
    }
}